<!DOCTYPE html>
<html>
  <head>
    <title>Nuby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  </head>
  <body>
    <% if notice %>
      <div class="bg-green-100 text-green-800 px-4 py-3 text-center"><%= notice %></div>
    <% end %>
    <% if alert %>
      <div class="bg-red-100 text-red-800 px-4 py-3 text-center"><%= alert %></div>
    <% end %>
    <main class="2xl:min-h-screen bg-gradient-to-b from-lime-100 via-green-50 to-white flex items-center justify-center">
      <%= yield %>
    </main>
    <header>
      <%= render "shared/navbar" unless action_name == "new"%>
    </header>
  </body>
</html>
